<!-- Header-->
<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Track films you’ve watched.
                    Save those you want to see.
                    Tell your friends what’s good.</h1>
                <a class="btn btn-primary btn-lg" href="#!" [routerLink]="['login']" >Get Started</a>
            </div>
        </div>
    </div>
</header>